version: '3.1'

services:
  db:
      image: mariadb:10.6
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: secret

  phpmyadmin:
      image: phpmyadmin
      restart: always
      ports:
        - 8080:80
      environment:
        - PMA_ARBITRARY=1
      links:
        - db:db

  server:
      image: shot_url:latest
      ports:
        - 80:3000
      links:
        - database:db