# version: '3.1'

# services:
#   db:
#     image: mysql:8.0
#     # command: --default-authentication-
#     restart: always
#     environment:
#       MYSQL_ROOT_PASSWORD: secret
version: '3.9'

services:
  mysql:
    image: mysql:8
    ports:
      - 3306:3306
    volumes:
      - ~/apps/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=S3cret
      - MYSQL_PASSWORD=secret
      - MYSQL_USER=citizix_user
      - MYSQL_DATABASE=citizix_db

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1
    links:
      - mysql:mysql
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 128M

  server:
    image: shot_url:latest
    ports:
      - 80:3000
    links:
      - mysql:database
    deploy:
      resources:
        limits:
          cpus: '0.1'
          memory: 64M
